.containerSkills {
  background-color: rgba(1, 4, 9, 0.4);
  border-left: 4px solid var(--accent-color);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* opacity: 0; */
  /* transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; */
}

/* .containerSkills.show {
  opacity: 1;
  transform: translateX(0);
} */

.containerSkills h2 {
  font-family: var(--font-headings);
  color: var(--header-text-color);
  font-size: 1.9em;
  margin-top: 0;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  display: flex;
  /* align-items: center; */
  /* margin-left: 4.5em; */
}

.containerSkills h2::before {
  content: "#";
  color: var(--accent-color);
  margin-right: 10px;
}

.containerSkills p {
  color: #ccc;
  font-family: var(--font-main);
  font-size: 1rem;
  text-align: center;
  margin: 0 0 2em 0;
}

.techFootnote {
  color: #aaa;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 2rem;
  text-align: center;
}

/* Grid adaptado */
.contentCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-content: space-between;
  padding-top: 1em;
}

/* Card */
.boxCard {
  background-color: #070707;
  border: 1px solid var(--border-color);
  border-radius: 20px 20px 0px 0px;
  padding: 1.2em 0.5em;
  text-align: center;
  width: 90px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-bottom: 2px solid var(--accent-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px var(--glow-color);
}

.boxCard img {
  width: 44px;
  height: 44px;
  object-fit: contain;
  opacity: 0.7;
  margin-bottom: 0.7rem;
}

.boxCard p {
  color: var(--header-text-color);
  font-family: var(--font-main);
  font-size: 0.9rem;
  margin: 0;
}

/* Responsivo */
/* @media (max-width: 820px) {
  .containerSkills h2 {
    text-align: justify;
    
  }
} */

@media (max-width: 500px) {
  .containerSkills h2 {
    margin-left: 0;
    
  }

  .boxCard {
    width: 90px;
    height: 100px;
  }

  .boxCard img {
    width: 34px;
  }
}
