.sectionContact{
    background-color: #0B0B0B;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: .5rem;
    padding-bottom: 4rem;
}

/* .containerContact {
    text-align: center;
} */

.containerContact h2{
    margin: 1rem;
    text-align: center;
    color: #fff;
    font-size: 30px
}


.formPage {
    color: #fff;
    margin: auto;
    width: 50%;
}

.colDiv{
    margin-top: 10px;
}


.formPage input {
    background-color: #3F3F3F;
    border: none;
}
.formPage textarea {
    background-color: #3F3F3F;
    border: none;
}
.formPage button {
    text-align: center;
    background-color: #7200fe;
    width: 110px;
    height: 40px;
    border: none;
}

@media (max-width: 750px) {
    .colDiv {
      display: block;
      
    }
  }
  
  @media (max-width: 750px) {
    .formPage {
        color: #fff;
        margin: auto;
        width: 90%;
    }
  }