.sectionContact {
  padding: 3rem 1rem;
  background-color: rgba(1, 4, 9, 0.4);
  border-left: 4px solid #7200fe;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  margin: 3rem auto;
  /* max-width: 800px; */

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.sectionContact.show {
  opacity: 1;
  transform: translateY(0);
}

.containerContact h2 {
  font-size: 2rem;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  border-bottom: 1px solid #292929;
  padding-bottom: 0.5rem;
  /* text-align: center; */
  margin-bottom: 2rem;
}

.formPage {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: #c9d1d9;
}

.hash {
  color: #7200fe;
  margin-right: 10px;
}

.flexRow {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.flexCol {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
}


label {
  margin-bottom: 0.3rem;
}

input,
textarea {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  color: #ffffff;
  font-size: 0.95rem;
  font-family: 'Roboto Mono', monospace;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #7200fe;
  box-shadow: 0 0 8px rgba(114, 0, 254, 0.3);
}

button {
  background-color: rgba(88, 166, 255, 0.15); 
  border: 1px solid rgba(88, 166, 255, 0.3);
  border-radius: 4px;
  padding: 0.8rem 1.4rem;
  color: #58a6ff;
  font-size: 0.95rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #5e00d3;
  transform: scale(1.05);
}

.error {
  margin-top: 1rem;
  color: #ff7070;
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .sectionContact {
    padding: 2rem 1rem;
  }

  .formPage {
    gap: 1rem;
  }
}
