.containerHeader {
    height: 630px;
    width: 100%;
    background-color: #000000; 
    position: relative;
    border-bottom: 1px solid #7200fe;
    overflow: hidden; 
    background-attachment: fixed;
}

.containerHeader::before {
    content: "";
    background-image: url(./img/my-site_banner-21dev.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    top: 0;
    left: 0;
    opacity: 0.5; 
    z-index: 0;
    background-size: cover; 
}

.headerBackcoler {
    /* background-color: rgba(10, 11, 11, 0.85);  */
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    
}

.lottieBackground {
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 630px;
    z-index: 0;
    opacity: 0.2; 
}

.titlePage {
    color: #ffffff;
    margin-left: 18%;
    margin-top: 8em;
    position: relative;
    z-index: 2;
}

.titlePage h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 3px;
}

.titlePage h4 {
    margin-left: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #a1a1a1;
    font-size: 30px;
    letter-spacing: 8.2px;
}

.titlePage .btnFalacomigo {
    margin-top: 1em;
    border: solid 2px #7200fe;
    width: 180px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 1em;
    cursor: pointer;
}

.titlePage .btnFalacomigo:hover {
    transform: scale(1.1, 1.1);
    background: #991cff;
}

.btnFalacomigo p {
    margin-top: .4rem;
}

@media (max-width: 650px) {
    .titlePage {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .titlePage h1 {
        margin-left: 1rem;
        font-size: 32px;
    }

    .titlePage h4 {
        font-size: 16px;
        letter-spacing: 4px;
    }

    .btnFalacomigo {
        margin-top: 1em;
        width: 130px;
        height: 34px;
        text-align: center;
        margin: auto;
    }

    .btnFalacomigo p {
        font-size: 16px;
    }

    .containerHeader {
        height: 350px;
    }

    .lottieBackground {
        max-height: 350px;
    }
}
