.containerHeader{
    height: 630px;
    width: 100%;
    background: url(./img/my-site_banner-21dev.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    border-bottom: 1px solid #8B00FF;
    /* position: relative; */
}

.headerBackcoler{
    background-color: rgb(32, 32, 32, .7);
    
    width: 100%;
    height: 100%;
}

.titlePage {
    color: rgb(255, 255, 255);
    margin-left: 18%;
    margin-top: 8em;
    position: absolute;

    
}

.titlePage h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 3px;
}

.titlePage h4 {
    margin-left: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #a1a1a1;
    font-size: 30px;
    letter-spacing: 8.2px;
}

.titlePage .btnFalacomigo {
    margin-top: 1em;
    background-color: #7e00e4;
    width: 180px;
    padding: .5em;
    text-align: center;
    align-items: center;
    border-radius: 1em;

    cursor: pointer;
}
.titlePage .btnFalacomigo:hover {
    transform: scale(1.1,1.1);
    background: #991cff;
}

.btnFalacomigo h5 {
    margin-top: .4rem;
}

@media (max-width: 400px) {

    .titlePage h1 {
        font-size: 32px;
    }

    .titlePage h4 {
        font-size: 16px;
        letter-spacing: 4px;
    }

    .btnFalacomigo {
        margin-top: 1em;
        width: 130px;
        height: 34px;
        
    }
    .btnFalacomigo h5 {
        font-size: 16px;
        margin-top: 0;
    }

    /* .titlePage {
        margin-top: 20rem;
    } */

    .containerHeader{
        height: 350px;
    }
}