body {
  background: linear-gradient(110deg, #0d1117, #11101a, #021120, #0b0c10);
  background-size: 400% 400%;
  animation: animatedGradient 12s ease infinite;
  color: #c9d1d9;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}


@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

